@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coda', cursive;
  scroll-behavior: smooth;
}

body{
  background-color: red;
}

.App {
  height: 100vh;
}

/* Login */

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  background-color: white;
}

.login-container img{
  width: 300px;
  margin-bottom: 20px;
}

.login-container form{
  margin: 10px 0;
}

.login-container form input{
  padding: 0.5rem 0.75rem;
  height: 35px;
  border-radius: 6px 0 0 6px;
  border: 2px solid gray;
  border-right: none;
  background-color: rgb(230, 230, 230);
  transition: 0.5s;
}

.login-container form button{
  border-radius: 0 6px 6px 0;
  outline: none;
  border: none;
  height: 35px;
  width: 35px;
  background-color: gray;
  border: 2px solid gray;
  transition: 0.5s;
}

.login-container form input:hover,
.login-container form input:hover ~ button,
.login-container form input:focus,
.login-container form input:focus ~ button{
  border: 2px solid red;
  outline: none;
}

.login-container form input:hover,
.login-container form input:focus{
  border-right: none;
}

.login-container .active-login-button{
  border: 2px solid red;
  background-color: red;
  outline: none;
  cursor: pointer;
}

.login-container .active-login-input{
  border: 2px solid red;
  border-right: none;
}

.active-login-button:hover .bx,
.active-login-button:focus .bx{
  transform: scale(1.5);
}

.login-container form button i{
  color: white;
  transition: 0.2s;
}

.login__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
  gap: 0.5rem;
}

.footer__social-media{
  display: flex;
  gap: 0.5rem;
}

.footer__social-media li{
  list-style: none;
}

.footer__link{
  text-decoration: none;
  color: black;
}

.footer__link:hover{
  text-decoration: underline;
}

/* Pokedex Home */

.pokedex-container{
  background-color: red;
  padding: 0.5rem;
}

.pokedex-title{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 0.5rem;
}

.pokedex-title img{
  width: 50px;
}

.pokedex-title h1{
  color: white;
}

.pokedex-menu{
  background-color: rgb(115, 228, 190);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.pokedex-menu form input{
  border: 2px solid rgb(77, 165, 136);
  padding: 0.5rem 0.75rem;
  height: 35px;
  border-radius: 6px 0 0 6px;
  background-color: aquamarine;
  outline: none;
  width: 200px;
  transition: 0.2s;
}

.pokedex-menu form button{
  border-radius: 0 6px 6px 0;
  height: 35px;
  width: 35px;
  background-color: rgb(77, 165, 136);
  border: 2px solid rgb(77, 165, 136);
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.pokedex-menu form button:hover .bx,
.pokedex-menu form button:focus .bx{
  transform: scale(1.5);
}

.pokedex-menu form button i{
  color: white;
  transition: 0.2s;
}

.pokedex-menu select{
  border-radius: 6px;
  padding: 0.5rem;
  background-color: aquamarine;
  border: 2px solid rgb(77, 165, 136);
  outline: none;
  margin-bottom: 3px;
  transition: 0.2s;
  cursor: pointer;
}

.select-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.select-container select::-webkit-scrollbar{
  background-color: aquamarine;
  width: 7px;
}

.select-container select::-webkit-scrollbar-thumb{
  background-color: rgb(77, 165, 136);
  width: 5px;
  border-radius: 5px;
}

.pokemons-list-container{
  width: 100%;
  background-color: rgb(115, 228, 190);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.pokemons-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem 0;
  align-items: center;
  width: 100%;
  max-width: 380px;
}

.n-p-btns-container{
  width: 80%;
}

.n-p-btns-container form{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.one-btn form{
  justify-content: center;
}

.n-p-btns-container form button{
  border-radius: 6px;
  border: none;
  background-color: rgb(77, 165, 136);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.n-p-btns-container form button:hover,
.n-p-btns-container form button:focus{
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.n-p-btns-container button i{
  color: white;
}

.pokedex__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem 0;
  gap: 0.5rem;
}

.pokedex__footer a,
.pokedex__footer span,
.pokedex__footer p{
  color: white;
}

@media screen and ( min-width: 560px ){
  .pokemons-list{
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 570px;
  }
}

/* Pokemon Card */

.loading-data-box{
  height: 18px;
  width: 80%;
  background-color: rgb(230, 230, 230);
  border-radius: 0.2rem;
  margin: 0 auto;
  animation: skeleton-loading 2s linear infinite;
}

.pokemon-card{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(77, 165, 136);
  border-radius: 0.5rem;
  transition: 0.2s;
}

.pokemon-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.p-c-bg{
  height: 80px;
}

.pokemon-card img{
  max-height: 100px;
  width: 100px;
  position: absolute;
  transition: 0.2s;
}

.pokemon-card:hover img{
  transform: scale(1.3);
}

.pokeball-spinning{
  animation: pokeball-spinning 4s linear infinite;
}

.card-details{
  text-align: center;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem 0.5rem 7px 7px;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.p-name,
.t-details,
.f-details{
  height: 18px;
}

.f-details{
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.p-name p,
.t-details p,
.f-details p{
  font-size: 0.75em;
}

.t-details .p-d-type-details{
  margin: 0 0.1rem;
}

/* Pokemon Details */

.pokemon-details-container{
  padding: 0.5rem;
  background-color: red;
}

.full-pokemon-container{
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(115, 228, 190);
}

.full-pokemon-container button{
  border-radius: 6px;
  border: none;
  background-color: rgb(77, 165, 136);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.full-pokemon-container button:hover,
.full-pokemon-container button:focus{
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.full-pokemon-container button i{
  color: white;
}

.pokemon-details-card{
  background-color: rgb(77, 165, 136);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.pokemon-details-card img{
  width: 250px;
}

.pokemon-details-card .loading-data-box{
  width: 90%;
  height: 25px;
}

.p-d-info{
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.2s;
}

.p-d-pname{
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 0.75rem;
}

.p-d-pname .loading-data-box{
  height: 35px;
}

.p-d-type-title,
.p-d-type-info{
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-d-type{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.p-d-pname,
.p-d-type{
  text-align: center;
}

.p-d-type-details{
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  color: white;
  padding: 0 0.25rem;
}

.p-d-hnw{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.p-d-hnw-title,
.p-d-hnw-description{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25px;
}

.p-d-stats-container,
.p-d-extra-stats-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.p-d-stats-title{
  display: flex;
  text-align: center;
  align-items: center;
  height: 25px;
  width: 100%;
  justify-content: center;
}

.p-d-stat-container{
  width: 100%;
  display: flex;
  height: 25px;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.p-d-stat-container p{
  width: 120px;
}

.p-d-stat-bar{
  width: 150px;
  background-color: rgb(230, 230, 230);
  height: 1rem;
  border-radius: 5px;
  display: flex;
}

.p-d-stat-bar p{
  font-size: 12px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-d-stat-bar-filled{
  height: 100%;
  border-radius: 5px;
  background-color: orange;
}

.p-d-moves-card{
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

.p-d-moves-card .loading-data-box{
  height: 25px;
  width: 100%;
}

.p-d-moves-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.p-d-moves-title{
  display: flex;
  text-align: center;
  align-items: center;
  height: 25px;
  margin: 0 0 1rem 0;
  width: 100%;
  justify-content: center;
}

.p-d-moves-ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 350px;
  gap: 5px;
}

.p-d-moves-ul .loading-data-box{
  height: 35px;
}

.p-d-moves-ul li{
  list-style: none;
  background-color: rgb(230, 230, 230);
  border-radius: 0.5rem;
  padding: 5px 7px;
}

.ul-loading li{
  padding: 0;
}

/* Desktop */

@media screen and ( min-width: 992px ){

  /* Pokedex */

  .pokedex-menu{
    margin-bottom: 1rem;
  }

  .pokedex-container{
    padding: 1rem;
  }

  .pokemons-list{
    max-width: 950px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  /* Pokemon Details */

  .pokemon-details-container{
    padding: 1rem;
  }

  .full-pokemon-container{
    padding: 1rem;
  }

  .full-pokemon-container button{
    margin-bottom: 1rem;
  }

  .pokemon-details-card{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .pokemon-details-card img{
    margin: 0 auto;
    width: 400px;
  }

  .p-d-info{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-d-pname{
    margin: 2rem;
    width: 350px;
  }

  .p-d-type{
    margin-bottom: 1rem;
    width: 350px;
  }

  .p-d-hnw{
    margin-bottom: 1rem;
    width: 350px;
  }

  .p-d-hnw-title,
  .p-d-hnw-description{
    justify-content: space-evenly;
  }

  .p-d-stat-container{
    width: 350px;
  }

  .p-d-stats-container{
    width: 350px;
  }

  .p-d-stats-title{
    margin-bottom: 0.5rem;
  }

  .p-d-extra-stats-container{
    margin-bottom: 10px;
  }

  .p-d-moves-ul{
    max-width: 1300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 10px;
  }

}

@media screen and ( min-width: 1300px ){

  /* Pokedex */

  .pokedex-menu p{
    font-size: 1.5rem;
  }

  .pokedex-menu form input{
    padding: 5px 10px;
    width: 300px;
    font-size: 1.2rem;
  }

  .pokedex-menu form button{
    height: 37px;
    width: 37px;
  }

  .pokedex-menu select{
    height: 32px;
    font-size: 1.2rem;
  }

  /* Pokemon Card */

  .pokemons-list{
    max-width: 1130px;
  }

  .loading-data-box{
    height: 25px;
  }

  .p-name,
  .t-details,
  .f-details{
    height: 25px;
  }

  .p-name p,
  .t-details p,
  .f-details p{
    font-size: 1rem;
  }

  /* Pokemon Details */

  .p-d-moves-ul{
    max-width: 1500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

}

@media screen and ( min-width: 1500px ){

  .p-d-info{
    width: 800px;
  }

}

@media screen and ( min-width: 1800px ){

  .pokemon-details-card img{
    width: 450px;
  }

  .p-d-moves-ul{
    max-width: 2300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(230, 230, 230);
  }
  50% {
    background-color: rgb(180, 180, 180);
  }
  100% {
    background-color: rgb(230, 230, 230);
  }
}

@keyframes pokeball-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}